@font-face {
  font-family: Oswald;
  /* src: url("fonts/Oswald/Oswald-Medium.ttf") format("opentype"); */
  src: url('fonts/Oswald/Oswald-Medium.ttf');
}

@font-face {
  font-family: IndieFlower;
  /* src: url("fonts/Oswald/Oswald-Medium.ttf") format("opentype"); */
  src: url('/fonts/Indie_Flower/IndieFlower.ttf');
}

@font-face {
  font-family: YatraOne;
  /* src: url("fonts/Oswald/Oswald-Medium.ttf") format("opentype"); */
  src: url('fonts/Yatra_One/YatraOne-Regular.ttf');
}

@font-face {
  font-family: Cryptography;
  src: url('fonts/ShortType-Cryptography.otf') format('opentype');
}

@font-face {
  font-family: Iconography;
  src: url('fonts/ShortType-Iconography.otf') format('opentype');
}

@font-face {
  font-family: Typography;
  src: url('fonts/ShortType-Typography.otf') format('opentype');
}

.customCursor {
  cursor: url('images/bendill.svg'), auto;
}
